.cartEmpty-body h1 {
  font-size: 60px;
}

.cartEmpty-body p {
  font-size: 20px;
}

.cart-body,
.cartEmpty-body {
  width: 100%;
  min-height: 92.7vh;
  background-color: rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cartEmpty-body {
  justify-content: center;
}

.cart-body {
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.cart-total {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.cart-checkoutBtn {
  width: 100%;
  max-width: 900px;
  height: 50px;
  font-size: 30px;
  background-color: green;
  transition: transform 0.3s ease;
  box-shadow:
    0 0 10px #a5a5a5,
    0 0 40px #a5a5a5,
    0 0 80px #a5a5a5;
}

.cart-checkoutBtn:hover {
  transform: translateY(-10px);
}
