.cartItem-body {
  width: 90%;
  max-width: 900px;
  min-height: 200px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  box-sizing: border-box;
}

.cartItem-imgWrapper {
  width: 200px;
  min-width: 80px;
  flex-shrink: 1;
}

.cartItem-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.cartItem-quantity {
  font-size: 20px;
}

@media (max-width: 600px) {
  .cartItem-body {
    flex-direction: column;
    align-items: center;
  }

  .cartItem-imgWrapper {
    width: 50%;
  }

  .cartItem-img {
    height: 200px;
  }
}
