.home-body {
  width: 100%;
  min-height: 92.7vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-h1 {
  font-size: 90px;
}

.home-p {
  font-size: 30px;
}

.home-text,
.home-image {
  max-height: 800px;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-image {
  max-width: 800px;
  width: 90%;
  border: 2px solid rgb(2, 0, 121);
  border-radius: 15px;
  box-shadow:
    0 0 10px #a5a5a5,
    0 0 40px #a5a5a5,
    0 0 80px #a5a5a5;
  margin: 20px;
}
