.card-body {
  width: 100%;
  max-width: 240px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-name-price {
  width: 100%;
  height: 50%;
}

.card-quantity {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-minusBtn,
.card-plusBtn,
.card-addBtn {
  font-size: 25px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card-minusBtn,
.card-plusBtn {
  width: 30px;
  height: 30px;
}

.card-addBtn {
  width: 100%;
  padding: 8px 0;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-minusBtn {
  background-color: rgb(206, 206, 206);
}

.card-plusBtn {
  background-color: rgb(206, 206, 206);
}

.card-minusBtn:hover,
.card-plusBtn:hover,
.card-addBtn:hover {
  transform: scale(1.1);
}
