* {
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", sans-serif;
}

.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-body {
  width: 100%;
  min-height: 70px;
  color: white;
  background-color: rgb(0, 0, 124);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-button {
  font-size: 24px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-button:hover {
  border-bottom: 2px solid white;
}
